@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --tertiary-white: #f9f9f9;
  --primary-white: #f5f3f5;
  --primary-white-00: #f4f2f4;

  --primary-fork: #2ea44f;
  --secondary-fork: #2ea4;
  --link: #5d80d6;

  --panel-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --global-transition: 0.6s all cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #e5e6f0;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}
